body{
	font-family: Сomic Sans MS;
	background-color: red;
	color: white;
}
h1{
	font-family: Monotype Corsiva;
	font-size: 90px;
}
legend{
	font-family: Monotype Corsiva;
	font-size: 30px;
}
p{
	font-size: 30px;
}
button{
	height: 60px;
	width: 190px;
    color: white;
    background-color: black; 	
	font-size: 30px;
}
button:hover{
	color: red;
}
.text{
	height: 50px;
	width: 380px;
	font-size: 30px;
}