body{
	font-family: Ð¡omic Sans MS;
	background-color: red;
	color: white;
}
button{
	width: 80px;
    color: white;
    background-color: black; 
    margin-left: 45%;
    margin-right: 60%; 	
}
button:hover{
	color: red;
}
h1{
	font-family: Monotype Corsiva;
}
legend{
	font-family: Monotype Corsiva;
	font-size: 35px;
}
div{
	margin-left: 30%;
    margin-right: 20%; 
}